body{
  background-color: #333;
}

h2{
  font-size: 33px;
  color: #fff;
}

a:hover{
  color: coral;
}
/* visited */
a:active{
  color: red;
}

a{
  color: #fff;
}

#box{
  background: #333;
  border: 2px #f4f4f4 solid;
  width: 350px;
  padding-top: 10px;
  margin: 20px auto;
  max-width: 900px;
}